@use "../../assets/scss/" as *;
.main-container {
    display: flex;
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
    font-size: 2rem;
    .login-img {
      width: 60%;
      height: 100%;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
    .content{
        width:40%;
    }
}