@use "./variables" as *;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--background-color);
}

input,
button,
select,
option {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#error-message,
.delete {
  color: var(--error);
}

.tag {
  font-weight: bold;
}

:where(.css-dev-only-do-not-override-ixblex).ant-btn-primary {
  color: #fff;
  background-color: var(--fourth-color);
  box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
  &:hover {
    background-color: var(--button-hover-color) !important;
  }
}

:where(
    .css-dev-only-do-not-override-ixblex
  ).ant-btn-primary.ant-btn-background-ghost {
  color: var(--fourth-color);
  border-color: var(--fourth-color);
  background-color: transparent;
  box-shadow: none;
  &:hover {
    color: #fff !important;
    border-color: var(--fourth-color) !important;
    background-color: var(--fourth-color) !important;
  }
}
