@use "../../assets/scss/" as *;

.confirm-field {
  padding: 4rem 6rem;
  @include flex(null, center);
  flex-direction: column;

  height: 100%;
  gap: 2.5rem;
  .logo {
    width: 235px;
    height: 165px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .change-password-title {
    font-size: 3rem;
    padding: 2rem 0;
  }
  .password,
  .confirm-password {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--background-color);
    
  }

  .confirm-button {
    height: 4rem;
    background-color: var(--fourth-color);
    font-size: 1.5rem;
    
    &:hover{
      
        background-color: var(--button-hover-color);
      
    }

    &:active{
      background-color: var(--button-active-color);
    }
     
  }

 
}
